{% extends "base.html" %}

{% block content %}

<div class="container_12">
	<div class="grid_6 dash_panel">
		<h3>Work Orders</h3>
		
		{% if work_orders %}
		  	<ul>
		    {% for work_order in work_orders %}
		    	<li>{{ work_order.name }}</li>
		    {% endfor %}
		    </ul>
		{% endif %}

	</div>
	<div class="grid_6 dash_panel">
    	<h3>Purchase Orders</h3>
    	
    	{% if purchase_orders %}
		  	<ul>
		    {% for purchase_order in purchase_orders %}
		    	<li>{{ purchase_order.name }}</li>
		    {% endfor %}
		    </ul>
		{% endif %}

	</div>
</div>

{% endblock %}