html {
	height: 100%;
}
body {
	color: #222222;
	background-color:   #0176A0;
	background-image:   -moz-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -webkit-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -o-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   -ms-radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	background-image:   radial-gradient(center, ellipse cover, #029CC9 0%, #005077 100%);
	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr = '#029CC9', endColorstr = '#005077', GradientType = 0);
}

div#title_box {
	color: #EEEEEE;
	padding: 10px 10px 30px;
}

div.grid_4 h3 {
	padding: 0 0 0 0;
	margin: 0 0 6px 0;
	font-size: 1.2em;
	text-decoration: underline;
}

div.dash_panel {
	background: #EEEEEE;
}